// COLOR VARIABLES
$white: #fff;
$light-gray: #f5f7fa;
$solitude-gray: #e1e4e6;
$gray: #ccc;
$dark-gray: #999;
$blue: #09f;
$sky-blue: #6aa7ef;
$salmon-dark: #ee4b2f;
$salmon-light: #fbc7b9;
$dark-red: #dd452b;
$dark-peach: #e07564;
$text-color: #333;
$sup-color: #666;
$sup-color-alt: #ccc;
$signal: #e03131;
$primary-background-color: #ffeb00;
$black: #000;
$yellow: rgb(245, 255, 0);
