.btn {
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: $black;
  display: inline-block;
  justify-self: center;
  align-self: start;
  cursor: pointer;
}
